@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand");
* { box-sizing: border-box; }

body { font-family: "Montserrat", sans-serif; margin: 0 auto; }

::-webkit-input-placeholder { color: #aeaeae; font-size: 14px; text-align: center; }

:-ms-input-placeholder { color: #aeaeae; font-size: 14px; text-align: center; }

::placeholder { color: #aeaeae; font-size: 14px; text-align: center; }

.container { max-width: 1100px; margin: 0 auto; }

nav { background-color: black; height: 90px; }

.logo-rwd { display: none; }

.nav-menu { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: justify; justify-content: space-between; }

.menu-list { display: -ms-flexbox; display: flex; list-style-type: none; font-size: 14px; text-transform: uppercase; font-weight: 700; }

.menu-item { margin-left: 15px; margin-top: 25px; text-align: center; }

.menu-item::after { content: ""; border: 5px solid #b88b58; display: inline-block; vertical-align: bottom; width: 85%; margin-top: 22px; visibility: hidden; }

.menu-item:hover { cursor: pointer; }

.menu-item:hover::after { visibility: visible; }

.menu-item > a { text-decoration: none; color: white; }

.menu-item-link { padding-top: 25px; padding-bottom: 25px; }

.menu-button-input[type="checkbox"] + label { font-size: 35px; cursor: pointer; }

.menu-button-input, .menu-button-label { display: none; color: white; }

.hero { height: 90.5vh; background-image: url("/images/hero.jpg"); background-position: center; background-repeat: no-repeat; background-size: cover; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

.hero-header { font-size: 72px; text-transform: uppercase; font-weight: bold; margin: 0 auto; }

.hero-header-white { color: white; }

.hero-header-gold { color: #b88b58; }

.hero-phone { color: white; font-size: 24px; }

.hero-btn { width: 194px; height: 45px; background-color: #b88b58; border: none; border-radius: 25px; color: white; font-weight: 700; font-size: 12px; text-transform: uppercase; transition: all 0.4s linear; }

.hero-btn:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 0 6px black; }

.hero-carousel-circle { width: 15px; height: 15px; border-radius: 50%; border: 3px solid #b88b58; margin: 8px; }

.is-active { background-color: #b88b58; }

.hero-carousel-circles { display: -ms-flexbox; display: flex; position: absolute; bottom: 4vh; }

.hero-phone-btn { height: 65px; width: 65px; border: none; border-radius: 50%; background-color: #b88b58; color: white; transform: rotate(-45deg); position: fixed; right: 20px; bottom: 20px; box-shadow: 0 0 20px black; }

.fa-phone-hero { color: white; font-size: 48px; }

.about { background-color: #f0f0f0; }

.about-header, .about-sub-header { text-align: center; text-transform: uppercase; }

.about-header { font-size: 30px; font-weight: bolder; padding-top: 63px; margin-top: 0; }

.about-sub-header { font-size: 14px; color: #aeaeae; }

.about-header-container { padding-bottom: 55px; }

.about-text-container { width: 57%; }

.about-btn { width: 194px; height: 45px; background-color: #b88b58; border: none; border-radius: 25px; color: white; font-weight: 700; font-size: 12px; text-transform: uppercase; transition: all 0.4s linear; margin: auto; margin-top: 34px; }

.about-btn:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 0 6px black; }

.about-paragraph { margin-top: 0; }

.about-video-container { background-image: url("/images/video1.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; width: 37%; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; box-shadow: 0 0 20px black; margin: 0 auto; }

.video-text-container { display: -ms-flexbox; display: flex; padding-bottom: 60px; }

.fa-about { color: white; font-size: 72px; }

.video-text { font-size: 30px; color: white; text-transform: uppercase; }

.services { background-color: black; }

.services-header, .services-sub-header { text-align: center; text-transform: uppercase; }

.services-header { font-size: 30px; margin-bottom: 0; padding-top: 60px; color: white; margin-top: 0; }

.services-sub-header { font-size: 14px; color: #aeaeae; }

.services-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; padding-top: 60px; }

.services-grid-header { color: white; font-size: 18px; text-transform: uppercase; font-weight: 900; }

.services-grid-text { color: #bebebe; font-size: 12px; font-weight: 100; }

.services-grid-item { margin-bottom: 60px; text-align: center; padding-bottom: 30px; border-left: 2px solid #373737; }

.services-grid-item:nth-child(4) { border-right: 2px solid #373737; }

.projects { background-color: #f0f0f0; }

.projects-header, .projects-sub-header { text-align: center; }

.projects-header { color: black; font-size: 30px; text-transform: uppercase; font-weight: 900; padding-top: 60px; margin-top: 0; }

.projects-sub-header { color: #aeaeae; font-size: 14px; text-transform: uppercase; }

.projects-menu-list { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; list-style-type: none; text-align: center; border: 1px solid #bebebe; border-radius: 30px; }

.projects-menu-item { margin-right: 35px; display: -ms-flexbox; display: flex; }

.projects-menu-item > a { text-decoration: none; color: black; text-transform: uppercase; font-size: 14px; line-height: 50px; text-align: center; }

.projects-menu-item > a::after { content: ""; border: 3px solid #b88b58; display: block; visibility: hidden; }

.projects-menu-item > a:hover::after { visibility: visible; }

.projects-menu { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding-top: 54px; padding-bottom: 38px; }

.projects-gallery-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; grid-gap: 30px; padding-bottom: 30px; }

.projects-gallery-item { padding: 30.5px 5.5px; background-size: contain; background-repeat: no-repeat; background-position: center; transition: all 0.4s linear; }

.projects-gallery-item:hover { -webkit-filter: brightness(50%); filter: brightness(50%); cursor: pointer; }

.projects-gallery-item:hover > .projects-gallery-layer { visibility: visible; cursor: pointer; }

.gallery-item-1 { background-image: url("/images/img1.jpg"); }

.gallery-item-2 { background-image: url("/images/img8.jpg"); }

.gallery-item-3 { background-image: url("/images/img3.jpg"); }

.gallery-item-4 { background-image: url("/images/img4.jpg"); }

.gallery-item-5 { background-image: url("/images/img5.jpg"); }

.gallery-item-6 { background-image: url("/images/img6.jpg"); }

.gallery-item-7 { background-image: url("/images/img7.jpg"); }

.gallery-item-8 { background-image: url("/images/img8.jpg"); }

.gallery-item-9 { background-image: url("/images/img9.jpg"); }

.gallery-item-10 { background-image: url("/images/img10.jpg"); }

.gallery-item-11 { background-image: url("/images/img11.jpg"); }

.gallery-item-12 { background-image: url("/images/img12.jpg"); }

.projects-btn { width: 194px; height: 45px; background-color: #b88b58; border: none; border-radius: 25px; color: white; font-weight: 700; font-size: 12px; text-transform: uppercase; transition: all 0.4s linear; }

.projects-btn:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 0 6px black; }

.projects-btn-container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding-bottom: 58px; }

.gallery-layer-header { font-size: 18px; text-align: center; color: white; }

.gallery-layer-text { font-size: 12px; text-align: center; color: white; }

.projects-gallery-layer { visibility: hidden; transition: all 0.4s linear; }

.team { background-image: url("/images/team-bg.jpg"); background-repeat: no-repeat; background-size: cover; }

.team-header-container { text-align: center; padding-top: 60px; padding-bottom: 40px; }

.team-header { font-size: 30px; text-transform: uppercase; color: white; }

.team-sub-header { color: #aeaeae; font-size: 14px; text-transform: uppercase; }

.team-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; grid-gap: 30px; }

.team-grid-item { background-color: white; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }

.team-grid-img { padding: 45px 81px; }

.team-img-header { font-size: 21px; text-transform: uppercase; color: #242424; text-align: center; margin-top: 0; margin-bottom: 3px; }

.team-img-sub-header { font-size: 12px; color: #242424; text-align: center; font-weight: 200; }

.team-social-btn { width: 33px; height: 33px; border: none; border-radius: 50%; margin: 0 auto; background-color: #bebebe; transition: all 0.4s linear; }

.team-social-btn:hover { background-color: #b88b58; cursor: pointer; }

.team-social-icon { font-size: 14px; color: white; }

.team-btn-container { margin: auto; width: 90%; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding-top: 40px; padding-bottom: 40px; }

.team-carousel-circles { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding-top: 50px; padding-bottom: 45px; }

.clients { text-align: center; background-color: #f0f0f0; }

.clients-header { font-size: 30px; text-transform: uppercase; padding-top: 60px; font-weight: 700; margin-top: 0; }

.clients-sub-header { font-size: 14px; color: #aeaeae; text-transform: uppercase; padding-bottom: 70px; }

.clients-img-header { font-size: 24px; padding-top: 30px; }

.clients-img-sub-header { font-size: 18px; }

.clients-icon { font-size: 21px; color: #7e7e7e; padding-top: 30px; padding-bottom: 18px; }

.clients-description-text { width: 50%; margin: auto; font-size: 14px; color: #7e7e7e; }

.clients-carousel-circles { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding-top: 51px; padding-bottom: 42px; }

.clients-logo { border-top: 1px solid #bebebe; border-bottom: 1px solid #bebebe; }

.clients-logo-container { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding-top: 60px; padding-bottom: 50px; }

.price { background-color: #f0f0f0; border-bottom: 1px solid #bebebe; }

.price-header { margin-top: 0; font-size: 30px; text-transform: uppercase; text-align: center; padding-top: 60px; }

.price-sub-header { font-size: 14px; color: #aeaeae; text-transform: uppercase; text-align: center; padding-bottom: 25px; }

.price-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; grid-gap: 30px; }

.price-grid-item { background-color: white; margin-bottom: 62px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }

.price-item-header { font-size: 14px; text-transform: uppercase; font-weight: 700; color: #242424; padding-top: 30px; }

.price-item-price { font-size: 30px; color: #242424; font-weight: bold; margin-top: 10px; }

.price-item-price-text { font-size: 10px; color: #aeaeae; text-transform: uppercase; margin-top: -26px; }

.price-item-offer { font-size: 10px; color: #373737; margin-bottom: 5px; margin-top: 5px; }

.price-item-offer::after { content: ""; border: 1px solid #373737; display: block; width: 10px; margin: 5px auto 0px auto; }

.price-item-btn { width: 129px; height: 45px; background-color: #242424; border: none; border-radius: 25px; color: white; font-weight: 700; font-size: 12px; text-transform: uppercase; transition: all 0.4s linear; margin-bottom: 33px; margin-top: 28px; }

.price-item-btn:hover { cursor: pointer; box-shadow: 0 0 6px black; background-color: #b88b58; }

.premium-flex { display: -ms-flexbox; display: flex; padding-bottom: 57px; border-bottom: 1px solid #bebebe; }

.far { margin-left: 10px; }

.premium-header { text-align: center; font-size: 30px; text-transform: uppercase; font-weight: 700; padding-top: 60px; }

.premium-sub-header { text-align: center; font-size: 14px; color: #aeaeae; text-transform: uppercase; margin-top: -10px; padding-bottom: 40px; }

.fa-check-circle { font-size: 30px; color: #b88b58; margin-right: 30px; }

.premium-list-item { font-size: 21px; text-transform: uppercase; font-weight: 700; line-height: 50px; }

.premium-list-text { margin-left: 60px; line-height: 30px; }

.premium-sub-list { line-height: 30px; text-transform: uppercase; }

.premium-carousel-circles { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding: 40px 0; }

.premium-btn { width: 194px; height: 45px; background-color: #b88b58; border: none; border-radius: 25px; color: white; font-weight: 700; font-size: 12px; text-transform: uppercase; transition: all 0.4s linear; }

.premium-btn:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 0 6px black; }

.premium-btn-container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding-top: 10px; padding-bottom: 60px; }

.facts { background-color: black; }

.facts-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; grid-gap: 50px; }

.facts-grid-item { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }

.facts-header { font-size: 30px; color: white; text-transform: uppercase; font-weight: 700; text-align: center; padding-top: 60px; }

.facts-sub-header { font-size: 14px; color: #aeaeae; text-transform: uppercase; text-align: center; padding-bottom: 60px; }

.facts-grid-number { font-size: 48px; color: #b88b58; font-weight: 900; margin-top: 0; margin-bottom: 10px; }

.facts-grid-number::after { content: ""; border: 2px solid #7e7e7e; display: block; width: 25px; margin: 10px auto 0px auto; }

.facts-grid-header { font-size: 18px; color: white; text-transform: uppercase; margin: auto; margin-top: 20px; text-align: center; }

.facts-grid-description { font-size: 12px; color: #7e7e7e; line-height: 30px; margin-bottom: 81px; text-align: center; }

.social { background-color: #f0f0f0; border-bottom: 1px solid #bebebe; padding-bottom: 0; }

.social-flex { display: -ms-flexbox; display: flex; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.social-share { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.social-buttons { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

.fa-share-alt { font-size: 24px; color: #aeaeae; line-height: 75px; }

.social-text { font-size: 14px; color: #aeaeae; text-transform: uppercase; font-weight: 900; margin-left: 15px; }

.social-btn-number { font-size: 10px; color: #aeaeae; font-weight: 900; margin-left: 3px; }

.social-btn { height: 33px; width: 33px; border: none; border-radius: 50%; color: white; margin-left: 36px; }

.social-btn-twitter { background-color: #34c5f0; }

.social-btn-linkedin { background-color: #127cb4; }

.social-btn-facebook { background-color: #336297; }

.social-btn-google { background-color: #e74237; }

.social-btn-pinterest { background-color: #b71c29; }

.contact { background-color: #f0f0f0; }

.contact-header { font-size: 30px; text-transform: uppercase; text-align: center; padding-top: 60px; margin-top: 0; }

.contact-sub-header { font-size: 14px; color: #aeaeae; text-transform: uppercase; text-align: center; padding-bottom: 70px; }

.name-container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding-bottom: 70px; }

.message-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.contact-btn-container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.contact-name { border: none; border-bottom: 2px solid #bebebe; width: 255px; background-color: #f0f0f0; }

.contact-email { border: none; border-bottom: 2px solid #bebebe; width: 255px; margin-left: 30px; background-color: #f0f0f0; }

.contact-subject { border: none; border-bottom: 2px solid #bebebe; width: 540px; margin-bottom: 110px; background-color: #f0f0f0; }

.contact-msg { border: none; border-bottom: 2px solid #bebebe; width: 540px; margin-bottom: 52px; background-color: #f0f0f0; }

.contact-submit-btn { width: 194px; height: 45px; background-color: #b88b58; border: none; border-radius: 25px; color: white; font-weight: 700; font-size: 12px; text-transform: uppercase; transition: all 0.4s linear; margin-bottom: 75px; }

.contact-submit-btn:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 0 6px black; }

.map { background-image: url("/images/map.png"); background-repeat: none; background-size: cover; padding-top: 30px; padding-bottom: 30px; }

.map-container { display: -ms-flexbox; display: flex; }

.map-address-container { background-color: white; width: 40%; padding: 30px; }

.map-address-btn { width: 35px; height: 35px; border: none; border-radius: 50%; background-color: #bebebe; color: white; margin-right: 17px; }

.fa-address { font-size: 21px; }

.map-address-item { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; margin-bottom: 21px; }

.map-address { font-size: 12px; color: #7e7e7e; }

footer { background-color: black; padding-top: 32px; padding-bottom: 32px; }

.footer-container { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; grid-gap: 30px; }

.footer-flex-social { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.footer-social-btn { height: 33px; width: 33px; border: none; border-radius: 50%; background-color: #373737; color: white; transition: all 0.4s linear; margin-right: 6px; }

.footer-social-btn:hover { background-color: #b88b58; cursor: pointer; }

.footer-copy-text { color: white; font-size: 14px; }

.footer-flex { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: justify; justify-content: space-between; }

.footer-text { font-size: 12px; color: #7e7e7e; margin-top: 0; line-height: 25px; }

.footer-newsteller { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: space-evenly; justify-content: space-evenly; -ms-flex-align: center; align-items: center; background-color: #373737; padding: 50px; width: 100%; }

.footer-newsteller-btn { width: 194px; height: 45px; background-color: #b88b58; border: none; border-radius: 25px; color: white; font-weight: 700; font-size: 12px; text-transform: uppercase; transition: all 0.4s linear; margin-top: 28px; }

.footer-newsteller-btn:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 0 6px black; }

.footer-newsteller-email { border: none; border-bottom: 2px solid #bebebe; width: 220px; background-color: #373737; text-transform: uppercase; }

.footer-scroll-btn { height: 65px; width: 65px; border: none; border-radius: 50%; background-color: #b88b58; color: white; box-shadow: 0 0 20px black; position: fixed; bottom: 20px; left: 20px; transition: 0.4s all linear; }

.footer-scroll-btn:hover { cursor: pointer; transform: scale(1.05); box-shadow: 0 0 10px black; }

.fa-scroll-up { font-size: 48px; }

@media (max-width: 1150px) { .menu-list { font-size: 12px; padding: 0; }
  .hero-header { font-size: 30px; }
  .about-header-container { padding-bottom: 10px; }
  .about-paragraph { margin-bottom: 10px; }
  .about-text-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; }
  .about-btn { margin: 10px auto; }
  .about-video-container { height: 25vh; }
  .services-header, .projects-header, .team-header-container, .clients-header, .premium-header, .facts-header, .contact-header, .price-header { padding-top: 30px; }
  .team-carousel-circles, .clients-carousel-circles, .premium-carousel-circles { padding-top: 20px; padding-bottom: 20px; }
  .projects-menu-list { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; grid-gap: 5px; margin: auto; padding: 0; width: 100%; }
  .projects-menu { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; width: 90%; margin: auto; }
  .projects-menu-item { margin-right: 10px; }
  .projects-menu-item > a { font-size: 12px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; margin: auto; padding: 5px; }
  .projects-gallery-grid { -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; grid-gap: 15px; }
  .projects-gallery-item { padding: 0; }
  .projects-btn-container { padding-bottom: 30px; }
  .team-grid { -ms-grid-columns: auto auto; grid-template-columns: auto auto; grid-gap: 15px; }
  .team-grid-img { padding: 35px 60px; }
  .team-btn-container { margin: 0 auto; }
  .clients-description-text { width: 85%; }
  .clients-logo-item { margin: 3px auto; }
  .price-grid { -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; grid-gap: 10px; }
  .price-grid-item { margin-bottom: 20px; }
  .premium-img { display: none; }
  .premium-list { margin-left: auto; }
  .premium-flex { padding-bottom: 10px; }
  .premium-btn-container { padding-bottom: 30px; }
  .facts-sub-header { padding-bottom: 20px; }
  .facts-grid { -ms-grid-columns: auto auto; grid-template-columns: auto auto; grid-gap: 20px; }
  .facts-grid-description { margin-bottom: 30px; }
  .social-flex { -ms-flex-direction: column; flex-direction: column; }
  .social-share { -ms-flex-pack: space-evenly; justify-content: space-evenly; padding-top: 10px; padding-bottom: 10px; }
  .social-btn { width: 40px; height: 40px; }
  .social-buttons { margin-bottom: 5px; display: -ms-flexbox; display: flex; }
  .fa-share-alt { line-height: 30px; }
  .social-btn { margin-left: 10px; }
  .contact-sub-header { padding-bottom: 30px; }
  .name-container { -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; padding-bottom: 0; }
  .contact-name, .contact-email, .contact-subject, .contact-msg { width: 90%; margin: auto; margin-bottom: 40px; }
  .map-address-container { width: 50%; margin: auto; }
  .footer-container { -ms-grid-columns: auto; grid-template-columns: auto; }
  .footer-text { width: 95%; margin: auto; }
  .footer-flex-social { margin: auto; }
  .footer-copy-text { text-align: center; }
  footer { padding-top: 5px; } }

@media (max-width: 870px) { nav { height: 100%; }
  .menu-button-label { float: right; display: block; padding: 3px 15px; color: white; }
  .nav-logo { display: none; }
  .logo-rwd { display: block; text-align: center; }
  .menu-button-input:not(:checked) ~ ul { display: none; }
  .menu-button-input:checked ~ ul { display: block; }
  .menu-list { margin: auto; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; width: 30%; padding: 0; }
  .menu-item { background-color: black; opacity: 0.8; z-index: 999; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 100%; line-height: 44px; margin: auto; }
  .menu-item::after { width: 95%; margin: auto; }
  .nav-menu { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; } }

@media (max-width: 650px) { .menu-list { width: 100%; }
  .topnav-container { display: -ms-flexbox; display: flex; }
  .about-paragraph { width: 93%; margin: auto; }
  .about-btn { margin-top: 5px; width: 80%; }
  .video-text-container { -ms-flex-direction: column; flex-direction: column; }
  .about-text-container { width: 100%; }
  .about-video-container { width: 90%; margin-top: 20px; }
  .services-grid { -ms-grid-columns: auto auto; grid-template-columns: auto auto; padding-top: 20px; }
  .services-grid-item { border-right: none; border-left: none; padding: 15px; margin-bottom: 20px; }
  .projects-gallery-grid { -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .projects-gallery-layer { width: 50%; margin: 0 auto; }
  .projects-btn { width: 80%; }
  .team-grid { -ms-grid-columns: auto; grid-template-columns: auto; }
  .clients-logo-container { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; padding-top: 20px; padding-bottom: 20px; width: 90%; }
  .clients-logo-item { margin: 5px auto; }
  .price-grid { -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .premium-btn { width: 80%; }
  .contact-submit-btn { width: 80%; }
  .map-address-container { width: 95%; }
  .footer-newsteller-btn { width: 90%; } }

@media (max-width: 360px) { .menu-list { width: 100%; }
  .nav-menu { -ms-flex-align: space-between; align-items: space-between; }
  .clients-logo-container { -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .clients-logo-item { margin: 3px auto; }
  .price-grid { -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .footer-newsteller { padding: 30px; }
  .footer-text { width: 90%; } }
/*# sourceMappingURL=style.css.map */