@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand");

//Variables SASS
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-xm: 21px;
$font-size-l: 24px;
$font-size-xl: 30px;
$font-size-xxl: 48px;
$font-size-xxxl: 72px;
$ivory: #f0f0f0;
$brown: #b88b58;
$white: white;
$black: black;
$almost-black: #242424;
$light-grey: #aeaeae;
$medium-gray: #7e7e7e;
$dark-grey: #373737;
$grey: #bebebe;
$grid-col-4: auto auto auto auto;

@mixin btn-norm {
  width: 194px;
  height: 45px;
  background-color: $brown;
  border: none;
  border-radius: 25px;
  color: $white;
  font-weight: 700;
  font-size: $font-size-xs;
  text-transform: uppercase;
  transition: all 0.4s linear;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 6px $black;
  }
}

@mixin btn-md {
  width: 129px;
  height: 45px;
  background-color: $almost-black;
  border: none;
  border-radius: 25px;
  color: $white;
  font-weight: 700;
  font-size: $font-size-xs;
  text-transform: uppercase;
  transition: all 0.4s linear;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 6px $black;
    background-color: $brown;
  }
}

//Content

* {
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

::placeholder {
  color: $light-grey;
  font-size: $font-size-s;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

// Nav section

nav {
  background-color: $black;
  height: 90px;
}

.logo-rwd {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  list-style-type: none;
  font-size: $font-size-s;
  text-transform: uppercase;
  font-weight: 700;
}

.menu-item {
  margin-left: 15px;
  margin-top: 25px;
  text-align: center;
  &::after {
    content: "";
    border: 5px solid $brown;
    display: inline-block;
    vertical-align: bottom;
    width: 85%;
    margin-top: 22px;
    visibility: hidden;
  }
  &:hover {
    cursor: pointer;
    &::after {
      visibility: visible;
    }
  }
  > a {
    text-decoration: none;
    color: $white;
  }
}

.menu-item-link {
  padding-top: 25px;
  padding-bottom: 25px;
}

// Hamburger menu

.menu-button-input[type="checkbox"] + label {
  font-size: 35px;
  cursor: pointer;
}

.menu-button-input,
.menu-button-label {
  display: none;
  color: $white;
}

// Hero section

.hero {
  height: 90.5vh;
  background-image: url("/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-header {
  font-size: $font-size-xxxl;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
}

.hero-header-white {
  color: $white;
}

.hero-header-gold {
  color: $brown;
}

.hero-phone {
  color: $white;
  font-size: $font-size-l;
}

.hero-btn {
  @include btn-norm();
}

.hero-carousel-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid $brown;
  margin: 8px;
}

.is-active {
  background-color: $brown;
}

.hero-carousel-circles {
  display: flex;
  position: absolute;
  bottom: 4vh;
}

.hero-phone-btn {
  height: 65px;
  width: 65px;
  border: none;
  border-radius: 50%;
  background-color: $brown;
  color: $white;
  transform: rotate(-45deg);
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 0 20px $black;
}

.fa-phone-hero {
  color: $white;
  font-size: $font-size-xxl;
}

// About section

.about {
  background-color: $ivory;
}

.about-header,
.about-sub-header {
  text-align: center;
  text-transform: uppercase;
}

.about-header {
  font-size: $font-size-xl;
  font-weight: bolder;
  padding-top: 63px;
  margin-top: 0;
}

.about-sub-header {
  font-size: $font-size-s;
  color: $light-grey;
}

.about-header-container {
  padding-bottom: 55px;
}

.about-text-container {
  width: 57%;
}

.about-btn {
  @include btn-norm();
  margin: auto;
  margin-top: 34px;
}

.about-paragraph {
  margin-top: 0;
}

.about-video-container {
  background-image: url("/images/video1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px $black;
  margin: 0 auto;
}

.video-text-container {
  display: flex;
  padding-bottom: 60px;
}

.fa-about {
  color: $white;
  font-size: $font-size-xxxl;
}

.video-text {
  font-size: $font-size-xl;
  color: $white;
  text-transform: uppercase;
}

// Services section

.services {
  background-color: $black;
}

.services-header,
.services-sub-header {
  text-align: center;
  text-transform: uppercase;
}

.services-header {
  font-size: $font-size-xl;
  margin-bottom: 0;
  padding-top: 60px;
  color: $white;
  margin-top: 0;
}

.services-sub-header {
  font-size: $font-size-s;
  color: $light-grey;
}

.services-grid {
  display: grid;
  grid-template-columns: $grid-col-4;
  padding-top: 60px;
}

.services-grid-header {
  color: $white;
  font-size: $font-size-m;
  text-transform: uppercase;
  font-weight: 900;
}

.services-grid-text {
  color: $grey;
  font-size: $font-size-xs;
  font-weight: 100;
}

.services-grid-item {
  margin-bottom: 60px;
  text-align: center;
  padding-bottom: 30px;
  border-left: 2px solid $dark-grey;
  &:nth-child(4) {
    border-right: 2px solid $dark-grey;
  }
}

// Projects section

.projects {
  background-color: $ivory;
}

.projects-header,
.projects-sub-header {
  text-align: center;
}

.projects-header {
  color: $black;
  font-size: $font-size-xl;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 60px;
  margin-top: 0;
}

.projects-sub-header {
  color: $light-grey;
  font-size: $font-size-s;
  text-transform: uppercase;
}

.projects-menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  border: 1px solid $grey;
  border-radius: 30px;
}

.projects-menu-item {
  margin-right: 35px;
  display: flex;

  > a {
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    font-size: $font-size-s;
    line-height: 50px;
    text-align: center;

    &::after {
      content: "";
      border: 3px solid $brown;
      display: block;
      visibility: hidden;
    }

    &:hover {
      &::after {
        visibility: visible;
      }
    }
  }
}

.projects-menu {
  display: flex;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 38px;
}

.projects-gallery-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  padding-bottom: 30px;
}

.projects-gallery-item {
  padding: 30.5px 5.5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s linear;
  &:hover {
    filter: brightness(50%);
    cursor: pointer;
    > .projects-gallery-layer {
      visibility: visible;
      cursor: pointer;
    }
  }
}

.gallery-item-1 {
  background-image: url("/images/img1.jpg");
}

.gallery-item-2 {
  background-image: url("/images/img8.jpg");
}

.gallery-item-3 {
  background-image: url("/images/img3.jpg");
}

.gallery-item-4 {
  background-image: url("/images/img4.jpg");
}

.gallery-item-5 {
  background-image: url("/images/img5.jpg");
}

.gallery-item-6 {
  background-image: url("/images/img6.jpg");
}

.gallery-item-7 {
  background-image: url("/images/img7.jpg");
}

.gallery-item-8 {
  background-image: url("/images/img8.jpg");
}

.gallery-item-9 {
  background-image: url("/images/img9.jpg");
}

.gallery-item-10 {
  background-image: url("/images/img10.jpg");
}

.gallery-item-11 {
  background-image: url("/images/img11.jpg");
}

.gallery-item-12 {
  background-image: url("/images/img12.jpg");
}
.projects-btn {
  @include btn-norm();
}

.projects-btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 58px;
}

.gallery-layer-header {
  font-size: $font-size-m;
  text-align: center;
  color: $white;
}

.gallery-layer-text {
  font-size: $font-size-xs;
  text-align: center;
  color: $white;
}

.projects-gallery-layer {
  visibility: hidden;
  transition: all 0.4s linear;
}

// Team section

.team {
  background-image: url("/images/team-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.team-header-container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.team-header {
  font-size: $font-size-xl;
  text-transform: uppercase;
  color: $white;
}

.team-sub-header {
  color: $light-grey;
  font-size: $font-size-s;
  text-transform: uppercase;
}

.team-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

.team-grid-item {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-grid-img {
  padding: 45px 81px;
}

.team-img-header {
  font-size: $font-size-xm;
  text-transform: uppercase;
  color: $almost-black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3px;
}

.team-img-sub-header {
  font-size: $font-size-xs;
  color: $almost-black;
  text-align: center;
  font-weight: 200;
}

.team-social-btn {
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  background-color: $grey;
  transition: all 0.4s linear;
  &:hover {
    background-color: $brown;
    cursor: pointer;
  }
}

.team-social-icon {
  font-size: $font-size-s;
  color: $white;
}

.team-btn-container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.team-carousel-circles {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 45px;
}

// Clients section

.clients {
  text-align: center;
  background-color: #f0f0f0;
}

.clients-header {
  font-size: $font-size-xl;
  text-transform: uppercase;
  padding-top: 60px;
  font-weight: 700;
  margin-top: 0;
}

.clients-sub-header {
  font-size: $font-size-s;
  color: $light-grey;
  text-transform: uppercase;
  padding-bottom: 70px;
}

.clients-img-header {
  font-size: $font-size-l;
  padding-top: 30px;
}

.clients-img-sub-header {
  font-size: $font-size-m;
}

.clients-icon {
  font-size: $font-size-xm;
  color: $medium-gray;
  padding-top: 30px;
  padding-bottom: 18px;
}

.clients-description-text {
  width: 50%;
  margin: auto;
  font-size: $font-size-s;
  color: $medium-gray;
}

.clients-carousel-circles {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 42px;
}

// Clients logo section

.clients-logo {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

.clients-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 50px;
}

// Price section

.price {
  background-color: $ivory;
  border-bottom: 1px solid $grey;
}

.price-header {
  margin-top: 0;
  font-size: $font-size-xl;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
}

.price-sub-header {
  font-size: $font-size-s;
  color: $light-grey;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px;
}

.price-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
}

.price-grid-item {
  background-color: $white;
  margin-bottom: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-item-header {
  font-size: $font-size-s;
  text-transform: uppercase;
  font-weight: 700;
  color: $almost-black;
  padding-top: 30px;
}

.price-item-price {
  font-size: $font-size-xl;
  color: $almost-black;
  font-weight: bold;
  margin-top: 10px;
}

.price-item-price-text {
  font-size: $font-size-xxs;
  color: $light-grey;
  text-transform: uppercase;
  margin-top: -26px;
}

.price-item-offer {
  font-size: $font-size-xxs;
  color: $dark-grey;
  margin-bottom: 5px;
  margin-top: 5px;
  &::after {
    content: "";
    border: 1px solid $dark-grey;
    display: block;
    width: 10px;
    margin: 5px auto 0px auto;
  }
}

.price-item-btn {
  @include btn-md();
  margin-bottom: 33px;
  margin-top: 28px;
}

// Premium section

.premium-flex {
  display: flex;
  padding-bottom: 57px;
  border-bottom: 1px solid $grey;
}

.far {
  margin-left: 10px;
}

.premium-header {
  text-align: center;
  font-size: $font-size-xl;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 60px;
}

.premium-sub-header {
  text-align: center;
  font-size: $font-size-s;
  color: $light-grey;
  text-transform: uppercase;
  margin-top: -10px;
  padding-bottom: 40px;
}

.fa-check-circle {
  font-size: $font-size-xl;
  color: $brown;
  margin-right: 30px;
}

.premium-list-item {
  font-size: $font-size-xm;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 50px;
}

.premium-list-text {
  margin-left: 60px;
  line-height: 30px;
}

.premium-sub-list {
  line-height: 30px;
  text-transform: uppercase;
}

.premium-carousel-circles {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.premium-btn {
  @include btn-norm();
}

.premium-btn-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 60px;
}

// Facts section

.facts {
  background-color: $black;
}

.facts-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
}

.facts-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facts-header {
  font-size: $font-size-xl;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-top: 60px;
}

.facts-sub-header {
  font-size: $font-size-s;
  color: $light-grey;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 60px;
}

.facts-grid-number {
  font-size: $font-size-xxl;
  color: $brown;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
  &::after {
    content: "";
    border: 2px solid $medium-gray;
    display: block;
    width: 25px;
    margin: 10px auto 0px auto;
  }
}

.facts-grid-header {
  font-size: $font-size-m;
  color: $white;
  text-transform: uppercase;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.facts-grid-description {
  font-size: $font-size-xs;
  color: $medium-gray;
  line-height: 30px;
  margin-bottom: 81px;
  text-align: center;
}

// Social section

.social {
  background-color: $ivory;
  border-bottom: 1px solid $grey;
  padding-bottom: 0;
}

.social-flex {
  display: flex;
  justify-content: space-evenly;
}

.social-share {
  display: flex;
  align-items: center;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-share-alt {
  font-size: $font-size-l;
  color: $light-grey;
  line-height: 75px;
}

.social-text {
  font-size: $font-size-s;
  color: $light-grey;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 15px;
}

.social-btn-number {
  font-size: $font-size-xxs;
  color: $light-grey;
  font-weight: 900;
  margin-left: 3px;
}

.social-btn {
  height: 33px;
  width: 33px;
  border: none;
  border-radius: 50%;
  color: $white;
  margin-left: 36px;
}

.social-btn-twitter {
  background-color: #34c5f0;
}

.social-btn-linkedin {
  background-color: #127cb4;
}

.social-btn-facebook {
  background-color: #336297;
}

.social-btn-google {
  background-color: #e74237;
}

.social-btn-pinterest {
  background-color: #b71c29;
}

// Contact section

.contact {
  background-color: $ivory;
}

.contact-header {
  font-size: $font-size-xl;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
  margin-top: 0;
}

.contact-sub-header {
  font-size: $font-size-s;
  color: $light-grey;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 70px;
}

.name-container {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-btn-container {
  display: flex;
  justify-content: center;
}

.contact-name {
  border: none;
  border-bottom: 2px solid $grey;
  width: 255px;
  background-color: $ivory;
}

.contact-email {
  border: none;
  border-bottom: 2px solid $grey;
  width: 255px;
  margin-left: 30px;
  background-color: $ivory;
}

.contact-subject {
  border: none;
  border-bottom: 2px solid $grey;
  width: 540px;
  margin-bottom: 110px;
  background-color: $ivory;
}

.contact-msg {
  border: none;
  border-bottom: 2px solid $grey;
  width: 540px;
  margin-bottom: 52px;
  background-color: $ivory;
}

.contact-submit-btn {
  @include btn-norm();
  margin-bottom: 75px;
}

// Map section

.map {
  background-image: url("/images/map.png");
  background-repeat: none;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

.map-container {
  display: flex;
}

.map-address-container {
  background-color: $white;
  width: 40%;
  padding: 30px;
}

.map-address-btn {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: $grey;
  color: $white;
  margin-right: 17px;
}

.fa-address {
  font-size: $font-size-xm;
}

.map-address-item {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.map-address {
  font-size: $font-size-xs;
  color: $medium-gray;
}

// Footer section

footer {
  background-color: $black;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

.footer-flex-social {
  display: flex;
  align-items: center;
}

.footer-social-btn {
  height: 33px;
  width: 33px;
  border: none;
  border-radius: 50%;
  background-color: $dark-grey;
  color: $white;
  transition: all 0.4s linear;
  margin-right: 6px;
  &:hover {
    background-color: $brown;
    cursor: pointer;
  }
}

.footer-copy-text {
  color: $white;
  font-size: $font-size-s;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-text {
  font-size: $font-size-xs;
  color: $medium-gray;
  margin-top: 0;
  line-height: 25px;
}

.footer-newsteller {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $dark-grey;
  padding: 50px;
  width: 100%;
}

.footer-newsteller-btn {
  @include btn-norm();
  margin-top: 28px;
}

.footer-newsteller-email {
  border: none;
  border-bottom: 2px solid $grey;
  width: 220px;
  background-color: $dark-grey;
  text-transform: uppercase;
}

.footer-scroll-btn {
  height: 65px;
  width: 65px;
  border: none;
  border-radius: 50%;
  background-color: $brown;
  color: $white;
  box-shadow: 0 0 20px $black;
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition: 0.4s all linear;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 10px $black;
  }
}

.fa-scroll-up {
  font-size: $font-size-xxl;
}

//
//RWD//////////////////////////////////////////////////////////
//

//Max 1150px/////////////////////////////////////////////////

@media (max-width: 1150px) {
  .menu-list {
    font-size: $font-size-xs;
    padding: 0;
  }

  .hero-header {
    font-size: $font-size-xl;
  }

  .about-header-container {
    padding-bottom: 10px;
  }

  .about-paragraph {
    margin-bottom: 10px;
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-btn {
    margin: 10px auto;
  }

  .about-video-container {
    height: 25vh;
  }

  .services-header,
  .projects-header,
  .team-header-container,
  .clients-header,
  .premium-header,
  .facts-header,
  .contact-header,
  .price-header {
    padding-top: 30px;
  }

  .team-carousel-circles,
  .clients-carousel-circles,
  .premium-carousel-circles {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .projects-menu-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    margin: auto;
    padding: 0;
    width: 100%;
  }

  .projects-menu {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  .projects-menu-item {
    margin-right: 10px;
    > a {
      font-size: $font-size-xs;
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: 5px;
    }
  }

  .projects-gallery-grid {
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
  }

  .projects-gallery-item {
    padding: 0;
  }

  .projects-btn-container {
    padding-bottom: 30px;
  }

  .team-grid {
    grid-template-columns: auto auto;
    grid-gap: 15px;
  }

  .team-grid-img {
    padding: 35px 60px;
  }

  .team-btn-container {
    margin: 0 auto;
  }

  .clients-description-text {
    width: 85%;
  }

  .clients-logo-item {
    margin: 3px auto;
  }

  .price-grid {
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
  }

  .price-grid-item {
    margin-bottom: 20px;
  }

  .premium-img {
    display: none;
  }

  .premium-list {
    margin-left: auto;
  }

  .premium-flex {
    padding-bottom: 10px;
  }

  .premium-btn-container {
    padding-bottom: 30px;
  }

  .facts-sub-header {
    padding-bottom: 20px;
  }

  .facts-grid {
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  .facts-grid-description {
    margin-bottom: 30px;
  }

  .social-flex {
    flex-direction: column;
  }

  .social-share {
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .social-btn {
    width: 40px;
    height: 40px;
  }

  .social-buttons {
    margin-bottom: 5px;
    display: flex;
  }

  .fa-share-alt {
    line-height: 30px;
  }

  .social-btn {
    margin-left: 10px;
  }

  .contact-sub-header {
    padding-bottom: 30px;
  }

  .name-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .contact-name,
  .contact-email,
  .contact-subject,
  .contact-msg {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
  }

  .map-address-container {
    width: 50%;
    margin: auto;
  }

  .footer-container {
    grid-template-columns: auto;
  }

  .footer-text {
    width: 95%;
    margin: auto;
  }

  .footer-flex-social {
    margin: auto;
  }

  .footer-copy-text {
    text-align: center;
  }

  footer {
    padding-top: 5px;
  }
}

//Max 870px//////////////////////////////////////////////////

@media (max-width: 870px) {
  nav {
    height: 100%;
  }

  .menu-button-label {
    float: right;
    display: block;
    padding: 3px 15px;
    color: $white;
  }

  .nav-logo {
    display: none;
  }

  .logo-rwd {
    display: block;
    text-align: center;
  }

  .menu-button-input:not(:checked) ~ ul {
    display: none;
  }

  .menu-button-input:checked ~ ul {
    display: block;
  }

  .menu-list {
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 0;
  }

  .menu-item {
    background-color: $black;
    opacity: 0.8;
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 44px;
    margin: auto;
    &::after {
      width: 95%;
      margin: auto;
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
  }
}

//Max 650px//////////////////////////////////////////////////

@media (max-width: 650px) {
  .menu-list {
    width: 100%;
  }

  .topnav-container {
    display: flex;
  }

  .about-paragraph {
    width: 93%;
    margin: auto;
  }

  .about-btn {
    margin-top: 5px;
    width: 80%;
  }

  .video-text-container {
    flex-direction: column;
  }

  .about-text-container {
    width: 100%;
  }

  .about-video-container {
    width: 90%;
    margin-top: 20px;
  }

  .services-grid {
    grid-template-columns: auto auto;
    padding-top: 20px;
  }

  .services-grid-item {
    border-right: none;
    border-left: none;
    padding: 15px;
    margin-bottom: 20px;
  }

  .projects-gallery-grid {
    grid-template-columns: auto auto;
  }

  .projects-gallery-layer {
    width: 50%;
    margin: 0 auto;
  }

  .projects-btn {
    width: 80%;
  }

  .team-grid {
    grid-template-columns: auto;
  }

  .clients-logo-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
  }

  .clients-logo-item {
    margin: 5px auto;
  }

  .price-grid {
    grid-template-columns: auto auto;
  }

  .premium-btn {
    width: 80%;
  }

  .contact-submit-btn {
    width: 80%;
  }

  .map-address-container {
    width: 95%;
  }

  .footer-newsteller-btn {
    width: 90%;
  }
}

//Max 360px//////////////////////////////////////////////////

@media (max-width: 360px) {
  .menu-list {
    width: 100%;
  }

  .nav-menu {
    align-items: space-between;
  }

  .clients-logo-container {
    grid-template-columns: auto auto;
  }

  .clients-logo-item {
    margin: 3px auto;
  }

  .price-grid {
    grid-template-columns: auto auto;
  }

  .footer-newsteller {
    padding: 30px;
  }

  .footer-text {
    width: 90%;
  }
}
